<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
<property name="hibernate.connection.url">jdbc:oracle:thin:@NIRANJAN_BOOK_3/orclpdb</property>
<property name="hibernate.connection.username">practice</property>
<property name="hibernate.connection.password">practice</property>

<property name="nibernate.dialect">org.hibernate.dialect.OracleDialect</property>
<property name="hbm2ddl.auto">update</property>

<mapping resource="dictionary.hbm.xml"/>

</session-factory>
</hibernate-configuration> 