<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Dictionary-Hibernate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddWord</display-name>
    <servlet-name>AddWord</servlet-name>
    <servlet-class>com.servlet.AddWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWord</servlet-name>
    <url-pattern>/AddWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchWord</display-name>
    <servlet-name>SearchWord</servlet-name>
    <servlet-class>com.servlet.SearchWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWord</servlet-name>
    <url-pattern>/SearchWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Button</display-name>
    <servlet-name>Button</servlet-name>
    <servlet-class>com.servlet.Button</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Button</servlet-name>
    <url-pattern>/Button</url-pattern>
  </servlet-mapping>
</web-app>